duckdb >= 0.10.3
highspy
joblib == 1.4.2
matplotlib == 3.9.0
multiprocess == 0.70.16
numpy == 1.26.4
pandas == 1.5.3  # Not using 2.x as we widely use DataFrame.append(). Change to pd.concat would be easy though.
pymonetdb == 1.8.1
psycopg2-binary == 2.9.9
PuLP == 2.8.0
scikit-learn == 1.5.0
#scikit-learn-intelex == 2021.5.3  # Used for fast regressions; might cause issues on the GitHub runners (requires Intel CPU)
xgboost == 2.0.3
